#layout{
    background-color: skyblue;
    width: 500px;
    margin: 5px;
   margin-left: auto;
   margin-right: auto;
}

.gauche{
    text-align: left;
}

.droite{
    text-align: right;
}

.justifiée{
    text-align: justify;
}

h2, button{
    color: blue;
}

p{
    color: red;
}

h2{
    font-size: 1.5em;
    text-transform: capitalize;
}

button{
    background-color: yellow;
    width: 100px;
}
